!!!
%html(lang="en")
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= t('app_name')
    %link(rel="stylesheet" type="text/css" href="/main.css")
    %link(rel="icon" type="image/png" href="/favicon.png")
  %body
    %div(id="content")
      %a(href="/")
        %img(src="/images/logo.png" alt="#{t('app_name')}" id="logo")
      %div(id="header")= haml :header
      %div(id="partial")= yield
      %div(id="footer")= haml :footer